<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6 offset-md-3">
        <div class="container text-center">
          <img
            src="../../../assets/logo.png"
            width="200px"
            height="200px"
            alt="logo"
          />
        </div>
        <h1 class="text-center">Register here!</h1>

        {{ user | json }}
        <form (ngSubmit)="formSubmit()">
          <!-- Username Field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Name</mat-label>
            <input
              [(ngModel)]="user.username"
              name="username"
              matInput
              placeholder="Enter Here"
            />
          </mat-form-field>
          <!-- Password Field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Password</mat-label>
            <input
              [(ngModel)]="user.password"
              name="password"
              type="password"
              matInput
              placeholder="Enter Here"
            />
          </mat-form-field>
          <!-- Firstname Field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input
              [(ngModel)]="user.firstName"
              name="firstName"
              matInput
              placeholder="Enter Here"
            />
          </mat-form-field>
          <!-- Lastname Field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
              [(ngModel)]="user.lastName"
              name="lastName"
              matInput
              placeholder="Enter Here"
            />
          </mat-form-field>
          <!-- Email Field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input
              [(ngModel)]="user.email"
              name="email"
              type="email"
              matInput
              placeholder="Enter Here"
            />
          </mat-form-field>
          <!-- Phone Field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input
              [(ngModel)]="user.phone"
              name="phone"
              matInput
              placeholder="Enter Here"
            />
          </mat-form-field>
          <div class="container text-center">
            <button type="submit" mat-raised-button color="primary">
              Register
            </button>
            <button style="margin-left: 20px" mat-raised-button color="accent">
              Clear
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
